.checkstyle
.gradle/
.settings/
/.project
/core/.project
/core/keisuke/bin
/core/keisuke/build
/core/keisuke/target
/core/keisuke/test/data
/core/keisuke/test/out
/gui/.project
/gui/keisuke-swing/bin
/gui/keisuke-swing/build
/gui/keisuke-swing/target
/gui/keisuke-swing/test/data
/gui/keisuke-swing/test/out
/ci/keisuke-jenkins/bin
/ci/keisuke-jenkins/build
/ci/keisuke-jenkins/target
/ci/keisuke-jenkins/test/data
/ci/keisuke-jenkins/test/out
/ci/keisuke-jenkins/work

