## Velocity 

#* 人毎に繰り返す *#
#foreach($human in $group)
    $velocityCount　：　$human.name
   
    #* BMI指数(肥満度指数)を測定する *#
    #set($bmi = $human.weight / $human.height / $human.height)
	あなたのBMI指数は $bmi です。
    #if($bmi < 20.0)
	やせ気味です。
    #elseif($bmi >= 20.0 && $bmi < 25.0)
	標準です。
    #elseif($bmi >= 25.0 && $bmi < 40.0)
	肥満です。
    #else
	病的肥満です。
    #end

#end
